<!DOCTYPE html>
  {% load static %}
<html lang="en">

  <head>
	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Distribution Simulator</title>

    <!-- Bootstrap core CSS -->
    
    <link href="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/css/freelancer.min.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">

    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    {% block navbar %}{% endblock %}
    </nav>
    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/profile.png'%}" alt="">
        <div class="intro-text">
          <span class="name">Distribution Simulator</span>
          <hr class="star-light">
          <span class="skills">Simulador de Distribuição de Tarefas</span>
        </div>
      </div>
    </header>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="alert {{ message.tags }}"{% endif %}>
			{{message}}</li> {% endfor %}
	</ul>
	{% endif %}
	
 {% block content %}{% endblock %}

	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>Local</h3>
						<p>
							UnB <br>Universidade de Brasília
						</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>Redes Sociais</h3>
						<ul class="list-inline">
							<li class="list-inline-item"><a
								class="btn-social btn-outline" href="#"> <i
									class="fa fa-fw fa-facebook"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="btn-social btn-outline" href="#"> <i
									class="fa fa-fw fa-google-plus"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="btn-social btn-outline" href="#"> <i
									class="fa fa-fw fa-twitter"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="btn-social btn-outline" href="#"> <i
									class="fa fa-fw fa-linkedin"></i>
							</a></li>
							<li class="list-inline-item"><a
								class="btn-social btn-outline" href="#"> <i
									class="fa fa-fw fa-dribbble"></i>
							</a></li>
						</ul>
					</div>
					<div class="footer-col col-md-4">
						<h3>Sobre Freelancer</h3>
						<p>
							Freelance é um open source Bootstrap theme gratuito para uso ,
							criado por <a href="http://startbootstrap.com">Start
								Bootstrap</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">Copyright &copy; Distribution
						Simulator 2017</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/jquery/jquery.min.js'%}"></script>
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/popper/popper.min.js'%}"></script>
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/bootstrap/js/bootstrap.min.js'%}"></script>

	<!-- Plugin JavaScript -->
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

	<!-- Contact Form JavaScript -->
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/js/jqBootstrapValidation.js'%}"></script>
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/js/contact_me.js'%}"></script>

	<!-- Custom scripts for this template -->
	<script
		src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/js/freelancer.min.js'%}"></script>

</body>

</html>
