{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#tarefaForm">Tarefa</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Cadastro de Tarefa</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/task.png'%}"
					alt="">
				<form name="sentMessage" id="tarefaForm" action="{% url 'caracterizarTarefa' %}"
					method="get">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for tarefa in tarefas %}
									<tr>
										<td>{{tarefa.descricao}}</td>
										<td> <button class="btn btn-info" type="submit" value="{{tarefa.id_node}}" name="id" > Vincular Características </button> </td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
