{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#recursoForm">Recurso</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Cadastro de Recurso</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/businessman.png'%}"
					alt="">
				<form name="sentMessage" id="timeForm" action="{% url 'edicaoRecurso' %}"
					method="get">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<h3>Recursos</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Matrícula</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for rec in recursos %}
										<tr>
											<td>
												{{rec.nome_recurso}}
											</td>
											<td>{{rec.matricula_recurso}}</td>
											<td>
											<button class="btn btn-info" type="submit" value="{{rec.id_recurso}}" name="id">Detalhes</button>
										</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							
						</div>
					</div>
				</form>
				<form name="sentMessage" id="recursoForm" action="#recurso"
					method="post">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Nome do Recurso</label> {{form.nome}} <label>Matrícula
								do Recurso</label> {{form.matricula}}
							<table class="table table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>descrição</th>
									</tr>
								</thead>
								<tbody>
									{% for caracteristica in caracteristicaDto %}
									<tr>
										<td>{{caracteristica.caracteristica.id_caracteristica}}</td>
										<td>{{caracteristica.caracteristica.descricao}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<label>Selecionados</label>
							{{form.selecionados}}
							<label>Nível de Conhecimento</label>
							{{form.nivelConhecimento}}
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="form-group">
						<button type="submit" class="btn btn-success btn-lg"
							id="sendMessageButton" >Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
