{% extends "base.html" %}
  {% load static %}
	{% block navbar %}
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution Simulator</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          	<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#caracteriscaForm">Característica</a>
            </li>
          </ul>
        </div>
      </div>
    {% endblock %}

	{% block content %}
    <section id="contact">
      <div class="container">
        <h2 class="text-center">Cadastro de Características</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-lg-8 mx-auto">
          	<img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/characteristic.png'%}" alt="">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="caracteristicaForm" action="#caracteristica" method="post">
            	  {% csrf_token %}
              <div class="control-group">
                <div class="form-group floating-label-form-group controls">
                  <label>Descrição da Característica</label>
                  {% for field in form %}
                  	{{field}} 
                  {% endfor %}
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
   {% endblock %}
