{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'cadastro2Tarefa' %}">Tarefa</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#caracterizarTarefa">Caracterizar Tarefa</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Caracterização da Tarefa</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/judgement.png'%}"
					alt="">
				<form name="sentMessage" id="caracterizacaoForm"
					action="#caracterizacao" method="post">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
						
							<label>Descrição</label>
							<input type="text" class="form-control" name="descricao" value="{{descricao}}"/>
							<label>Data de Início da Tarefa</label>
							<input type="date" class="form-control" name="dtInicio"
								value="{{dtInicio}}"/>
							<label>Data de Conclusão da Tarefa</label>
							<input type="date" class="form-control" name="dtFim"
								value="{{ dtFim}}"/>
							
							<br/>
							<br/>
							<table class="table table-striped"  >
								<thead>
									<tr>
										<th>Característica</th>
										<th>Nível de Complexidade</th>
									</tr>
								</thead>
								<tbody>
									{% for caracteristicaTarefaDto in caracteristicasTarefaDto %}
									<tr>
										<td>{{caracteristicaTarefaDto.id_caracteristica.descricao}}</td>
										<td><input type="number" class="form-control" name="{{caracteristicaTarefaDto.id_caracteristica.id_caracteristica}}"
											value="{{caracteristicaTarefaDto.nivel_complexidade}}" /></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<br>
							<div id="success"></div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg"
									id="sendMessageButton">Salvar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
