{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#detalhesForm">Detalhes da Tarefa</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Detalhes da Tarefa</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/task.png'%}"
					alt="">
					<br/>
					<br/>
				<form name="sentMessage" id="detalhesForm" action=""
					method="post">
					{% csrf_token %}
					<div class="control-group" >
						<h3>Tarefa</h3>
						<div class="form-group floating-label-form-group controls">
							<br/>
							<h5>Descrição</h5>
							<h4>{{tarefa.descricao}}</h4>
							<br/>
							<h5>Data de Início</h5>
							<h4>{{tarefa.dt_inicio}}</h4>
							<br/>
							<h5>Data de Conclusão</h5>
							<h4>{{tarefa.dt_fim}}</h4>
							<br/>
							<br/>
							
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg"
									id="editar" name="editarTarefa" value="{{tarefa.id_node}}">Editar</button>
									
								<button type="submit" class="btn btn-success btn-lg"
									id="excluirTime" name="excluirTime" value="{{tarefa.id_node}}">Excluir Time Eficiência</button>
									
								<button type="submit" class="btn btn-success btn-lg"
									id="excluirTimeA" name="excluirTimeA" value="{{tarefa.id_node}}">Excluir Time Aprendizado</button>
									
							</div>
							
						</div>
					</div>
					<br/>
					<br/>
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<h3>Características da Tarefa</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>Nível de Complexidade</th>
									</tr>
								</thead>
								<tbody>
									{% for ct in caracteristicasTarefa %}
										<tr>
											<td>
												{{ct.id_caracteristica.descricao}}
											</td>
											<td><input type="number" class="form-control" name="{{ct.id_caracteristica.id_caracteristica}}"
												value="{{ct.nivel_complexidade}}" /></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg"
									id="salvaCaracteristica" name="caracteristica" value="{{tarefa.id_node}}">Salvar</button>
							</div>
							
						</div>
					</div>
				</form>
				<br/>
				<br/>
				<form name="sentMessage" id="timeForm" action="{% url 'edicaoRecurso' %}"
					method="get">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<h3>Time Eficiência</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Matrícula</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for tt in timeTempo %}
										<tr>
											<td>
												{{tt.id_recurso.nome_recurso}}
											</td>
											<td>{{tt.id_recurso.matricula_recurso}}</td>
											<td>
											<button class="btn btn-info" type="submit" value="{{tt.id_recurso.id_recurso}}" name="id">Detalhes</button>
										</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							
							<br/>
							<br/>
							
							<h3>Time Aprendizado</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Matrícula</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for ta in timeAprendizado %}
										<tr>
											<td>
												{{ta.id_recurso.nome_recurso}}
											</td>
											<td>{{ta.id_recurso.matricula_recurso}}</td>
											<td>
											<button class="btn btn-info" type="submit" value="{{ta.id_recurso.id_recurso}}" name="id">Detalhes</button>
										</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
