{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="/distributionSimulatorApp/feedbackParte2/?id={{tarefa.id_node}}">Detalhes da Tarefa</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#edicaoRecurso">Edição do Recurso</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Edição do Recurso</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/bussinessman.png'%}"
					alt="">
				<form name="sentMessage" id="edicaoForm"
					action="#edicaoRecurso" method="post">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Nome</label>
							<input type="text" class="form-control" name="nome"
								value="{{nome}}" placeholder="Nome do Recurso"/>
							<label>Matrícula</label>
							<input type="text" class="form-control" name="matricula"
								value="{{matricula}}" placeholder="Matrícula do Recurso"/>
							
							<br/>
							<br/>
							
							<h3>Características</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Descrição</th>
										<th>Nível de Conhecimento</th>
									</tr>
								</thead>
								<tbody>
									{% for cr in caracteristicasRecursoNovo %}
									<tr>
										<td>{{cr.id_caracteristica.descricao}}</td> 
										<td><input type="number" class="form-control" name="{{cr.id_caracteristica.id_caracteristica}}"
											value="{{cr.nivel_conhecimento}}" /></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							
							<div id="success"></div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg"
									id="sendMessageButton" name="editarRecurso" value="{{recurso.id_recurso}}">Salvar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
