{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="/distributionSimulatorApp/feedbackParte2/?id={{tarefa.id_node}}">Detalhes da Tarefa</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#edicaoTarefa">Edição da Tarefa</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Edição da Tarefa</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/task.png'%}"
					alt="">
				<form name="sentMessage" id="edicaoForm"
					action="#edicaoTarefa" method="post">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Descrição</label>
							<input type="text" class="form-control" name="descricao"
								value="{{descricao}}" placeholder="Descrição da Tarefa"/>
							<label>Data de Início da Tarefa</label>
							<input type="date" class="form-control" name="dtInicio"
								value="{{dtInicio}}" placeholder="Data de Início da Tarefa"/>
							<label>Data de Conclusão da Tarefa</label>
							<input type="date" class="form-control" name="dtFim"
								value="{{dtFim}}" placeholder="Data de Conclusão Esperada da Tarefa" /> 
							<div id="success"></div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-lg"
									id="sendMessageButton" name="editarTarefa" value="{{tarefa.id_node}}">Salvar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
