{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#feedBackForm">FeedBack</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Feedback</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/objective.png'%}"
					alt="">
					<br/>
					<br/>
				<form name="sentMessage" id="objectForm" action="{% url 'feedbackParte2' %}"
					method="get">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<h3>Tarefas</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Descrição</th>
										<th>Data de Início</th>
										<th>Data de Conclusão</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for tf in tarefas %}
										<td>
											{{tf.id_node}}
										</td>
										<td>
											{{tf.descricao}}
										</td>
										<td>
											{{tf.dt_inicio}}
										</td>
										<td>
											{{tf.dt_fim}}
										</td>
										<td>
											<button class="btn btn-info" type="submit" value="{{tf.id_node}}" name="id">Detalhes</button>
										</td>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
