{% extends "base.html" %}
  {% load static %}
    {% block navbar %}
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution Simulator</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          	<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/distributionSimulatorApp">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Ações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
            </li>
          </ul>
        </div>
      </div>
	{% endblock %}

   {% block content %}
    <section id="portfolio">
      <div class="container">
        <h2 class="text-center">Ações</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/objective.png'%}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/task.png'%}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/flowChart.png'%}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal4" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/businessman.png'%}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal5" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/characteristic.png'%}" alt="">
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" href="#portfolioModal6" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/game.png'%}" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
      <div class="container">
        <h2 class="text-center">Sobre</h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p>Este projeto tem por objetivo utilizar técnicas de Engenharia de Software(CRGM, GORE) não para Engenharia de Requisitos e sim aplicar tais técnicas para distribuição de tarefas aproveitando o melhor de cada recurso. De acordo com o que é mais importante para empresa.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p>Deixando claro que este sistema simulará cenários , mas a decisão continua sendo do gestor em questão.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top d-lg-none">
      <a class="btn btn-primary js-scroll-trigger" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>FeedBack</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/objective.png'%}" alt="">
                  <p>Clicando no botão abaixo será possível o fazer o feedback das tarefas executadas.</p>
                  <a class="btn btn-success" href="{% url 'feedbackParte1' %}">
                    Cadastrar Novo Feedback</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Tarefas</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/task.png'%}" alt="">
                  <p>Clicando no botão abaixo será possível o cadastro de novas tarefas de sua empresa, lembrando que as tarefas cadastradas tem que estar intimamente ligadas aos objetivos traçados pela empresa.</p>
                   <a href="{% url 'cadastro2Tarefa' %}" class="btn btn-success">Cadastro Tarefa</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Diagrama de dependência entre tarefas e objetivos</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/flowChart.png'%}" alt="">
                  <p>Clicando no botão abaixo será aberto uma nova aba para desenvolvimento do diagrama na ferramenta PISTAR.</p>
                  <p>Após a confecção do diagrama basta fazer o download do modelo como arquivo JSON.</p>
                  <a href="http://www.cin.ufpe.br/~jhcp/pistar/" target="_blank" class="btn btn-success">PISTAR</a>
                  <p>Após criar o modelo e ter o json por favor carregue o modelo aqui.</p>
                   <a href="{% url 'diagrama' %}" class="btn btn-success">Cadastro Diagrama</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Recursos</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/businessman.png'%}" alt="">
                  <p>Clicando no botão abaixo será possível cadastrar recursos humanos da empresa.</p>
                  <a href="{% url 'cadastroRecurso' %}" class="btn btn-success">Cadastro Recurso</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Características</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/characteristic.png'%}" alt="">
                  <p>Clicando no botão abaixo será possível cadastrar as características da tarefa e do recurso.</p>
                    <a href="{% url 'cadastroCaracteristica' %}" class="btn btn-success">Cadastro Características</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Simulador</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-centered" src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/game.png'%}" alt="">
                  <p>Clicando no botão abaixo será possível simular uma distribuição de determinada tarefa.</p>
                  <a href="{% url 'simulador2' %}" class="btn btn-success">Simulador</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

