<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{%static 'distributionSimulator/login/css/login.css'%}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="{%static 'distributionSimulator/login/js/login.js'%}"></script>
<meta charset="UTF-8">
<title>Distribution Simulator</title>
</head>
<body>
 <div class="container">
        <div class="card card-container">
        		<h3 class="title-layout"><i class="glyphicon glyphicon-plane"></i> Distribution Simulator <i class="glyphicon glyphicon-plane"></i></h3>
            <form class="form-signin" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                {% csrf_token %}
                {{form.as_p}}
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Lembrar-me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Esqueceu a senha ?
            </a>
        </div><!-- /card-container -->
    </div>
</body>
</html>