{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#simuladorForm">Simulador</a></li>
		</ul>
	</div>
</div>
{% endblock %} 
{% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Simulador</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/game.png'%}"
					alt="">
				<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
				<!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
				<form name="sentMessage" id="simuladorForm" action="#simulador"
					method="post">
					{% csrf_token %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
						{% if simuladorEscolhido == None %}
							<br>
							<h2>Tarefas</h2>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>descrição da tarefa</th>
										<th>características -- nível complexidade</th>
									</tr>
								</thead>
								<tbody>
									{% for tarefa in listaSimuladorTarefaDto %}
									<tr>
										<td>{{tarefa.tarefa.id_tarefa}}</td>
										<td>{{tarefa.tarefa.descricao}}</td>
										<td>
											{% for caracteristicaTarefa in tarefa.caracteristicaTarefa %}
												{{caracteristicaTarefa.id_caracteristica.descricao}} --
												{{caracteristicaTarefa.nivel_complexidade}}
												<br>
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<br>
							<h2>Recursos</h2>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>nome</th>
										<th>matrícula</th>
										<th>características -- nível de conhecimento</th>
									</tr>
								</thead>
								<tbody>
									{% for recurso in listaSimuladorRecursoDto %}
									<tr>
										<td>{{recurso.recurso.id_recurso}}</td>
										<td>{{recurso.recurso.nome_recurso}}</td>
										<td>{{recurso.recurso.matricula_recurso}}</td>
										<td>
											{% for caracteristicaRecurso in recurso.caracteristicaRecurso %}
												{{caracteristicaRecurso.id_caracteristica.descricao}} --
												{{caracteristicaRecurso.nivel_conhecimento}}
												<br>
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							{{form.tarefaEscolhida}}
							{{form.numeroRecurso}}
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="form-group">
					<center>
						<button type="submit" class="btn btn-success btn-lg"
							id="tempo">Tempo</button> &#160;&#160;
						<button type="submit" class="btn btn-success btn-lg"
							id="qualidade">Qualidade</button>&#160;&#160;
						<button type="submit" class="btn btn-success btn-lg"
							id="aprendizado">Aprendizado</button>
					</center>
					</div>
					{% endif %}
					{% if simuladorEscolhido != None %}
						<h2>Time Escolhido</h2>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>id</th>
										<th>nome</th>
										<th>matrícula</th>
									</tr>
								</thead>
								<tbody>
									{% for recurso in simuladorEscolhido %}
									<tr>
										<td>{{recurso.recurso.id_recurso}}</td>
										<td>{{recurso.recurso.nome_recurso}}</td>
										<td>{{recurso.recurso.matricula_recurso}}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
