{% extends "base.html" %} {% load static %} {% block navbar %}
<div class="container">
	<a class="navbar-brand js-scroll-trigger" href="#page-top">Distribution
		Simulator</a>
	<button class="navbar-toggler navbar-toggler-right" type="button"
		data-toggle="collapse" data-target="#navbarResponsive"
		aria-controls="navbarResponsive" aria-expanded="false"
		aria-label="Toggle navigation">
		Menu <i class="fa fa-bars"></i>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="{% url 'index' %}">Home</a></li>
			<li class="nav-item"><a class="nav-link js-scroll-trigger"
				href="#simuladorForm">Simulador</a></li>
		</ul>
	</div>
</div>
{% endblock %} {% block content %}
<section id="contact">
	<div class="container">
		<h2 class="text-center">Simulação</h2>
		<hr class="star-primary">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<img class="img-fluid img-centered"
					src="{%static 'distributionSimulator/startbootstrap-freelancer-gh-pages/img/portfolio/game.png'%}"
					alt="">
					<br/>
					<br/>
				<form name="sentMessage" id="simulacaoForm" action="#simulando"
					method="post">
					{% csrf_token %}
					{% if simuladorEscolhido == None %}
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<h3>Tarefas</h3>
							<table class="table table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Tarefa</th>
										<th>Característica - Nível de Complexidade</th>
									</tr>
								</thead>
								<tbody>
									{% for tarefa in tarefasDto %}
									<tr>
										<td><div class="checkbox">
												<input type="checkbox" name="{{tarefa.tarefa.id_node}}" value="{{tarefa.tarefa.id_node}}"/>
											</div></td>
										<td>{{tarefa.tarefa.descricao}}</td> 
										
										<td>
										{% for ct in tarefa.caracteristicaTarefa %}
											{{ct.id_caracteristica.descricao}} --- {{ct.nivel_complexidade}}
												<br/>
										{% endfor %}
										</td>
											 
										
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					
					<br/>
					<div class="control-group">
						<div class="form-group floating-label-form-group controls">
							<label>Quantidade de Membros</label>
							<input type="text" class="form-control" placeholder="Quantidade de Membros da Equipe" id="idQtdMembros" name="qtdMembros" />
						</div>
					</div>
					
					<br/>
					
					<div class="form-group">
					<center>
						<button type="submit" class="btn btn-success btn-lg"
							id="idTempo" name="tempo" value="tempo"  >Tempo</button> &#160;&#160;
						<button type="submit" class="btn btn-success btn-lg"
							id="idAprendizado" name="aprendizado" value="aprendizado" >Aprendizado</button>
					</center>
					</div>
					{% endif %}
					{% if simuladorEscolhido != None %}
						<h2>Time Escolhido para a Tarefa</h2>
						<br/>
						<h2>{{task.descricao}}</h2>
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Pontuação</th>
										<th>Nome</th>
										<th>Matrícula</th>
										<th>Líder</th>
									</tr>
								</thead>
								<tbody>
									{% for recurso in simuladorEscolhido %}
									<tr>
										<td>{{recurso.recurso.id_recurso}}</td>
										<td>{{recurso.pontuacao}}</td>
										<td>{{recurso.recurso.nome_recurso}}</td>
										<td>{{recurso.recurso.matricula_recurso}}</td>
										{% if recurso.lider == True %}
											<td>Owner</td>
										{% else %}
											<td>Team Member</td>
										{% endif %}
										<td></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							
							<div class="form-group">
								<center>
									
								<button type="submit" class="btn btn-success btn-lg"
									id="idNovaSimulacao" name="novaSimulacao" value="novaSimulacao" >Nova Simulacao</button>
								</center>
							</div>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
